html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  user-select: none;
  overflow: hidden;
}

body {
  background-color: #333;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

blue {
  color: #31e6e3;
}

yellow {
  color: #e6b531;
}

red {
  color: #e63179;
}

b {
  font-size: 2em;
}

h1 {
  color: #f5f6fa;
  padding: 0px;
  margin: 0px;
  line-height: 1;
  flex: auto;
  margin-left: 10px;
  font-size: 1.3em;
}

.button {
  text-align: center;
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #191919;
  border: 3px solid #fff;
  border-radius: 2px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 10px;
  font-size: 0.8em;
}

#newGame {
  cursor: pointer;
}

#menu {
  background-color: #191919;
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: flex-end;
  align-items: center;
}

#logo {
  height: 100px;
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#logo img {
  width: auto;
  height: 70%;
}


@media screen and (max-width: 600px) {
  h1 {
    display: none;
  }

  #logo {
    flex: auto;
  }
}
